---
export interface Props {
	image?: string;
	title: string;
	description: string;
	link?: string;
	github?: string;
}
const { title, description, image = 'https://picsum.photos/id/532/584/434', link = '#', github = '#' } = Astro.props;
---

<li class="card">
	<picture>
		<img src={image} alt={title} />
	</picture>
	<div>
		<h2>{title}</h2>
		<p>{description}</p>
		<div class="links">
			<a class="link-primary" href={link} target="_blank" rel="noopener noreferrer">Demo</a>
			<a href={github} target="_blank" rel="noopener noreferrer">Code</a>
		</div>
	</div>
</li>
<style>
	:root {
		--bg-white: #ffffff;
		--bg-primary: #2f80ed;
		--bg-secondary: #8f8e91;
		--bg-dark: #100e1d;
		--bg-gradient: linear-gradient(90deg, #100e1d, #bdbdbc);

		--border-radius-md: 0.5rem;
	}

	.card {
		position: relative;
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 1.25em;
		border: none;
		border-radius: var(--border-radius-md);
		box-shadow: none;
		background: var(--bg-white);
		transition: box-shadow 0.3s ease-in;
	}

	.card:is(:hover, :focus-within) {
		box-shadow: 0 0 6em rgba(51, 51, 51, 0.3);
	}

	.card picture {
		width: 100%;
		min-height: 17ch;
		object-fit: cover;
		object-position: center;
	}

	.card picture img {
		height: min-content;
		border-radius: var(--border-radius-md);
	}

	.card a {
		display: inline;
		text-decoration: none;
		line-height: 1.4;
		padding: 0.5em 1.1em;
		border: 1px solid var(--bg-secondary);
		border-radius: var(--border-radius-md);
		background: var(--bg-white);
		color: var(--bg-dark);
		transition: border 0.3s ease-in;
	}

	.card a:hover,
	.card a:focus {
		cursor: pointer;
		outline: none;
		border: 1px solid var(--bg-primary);
		color: var(--bg-primary);
		font-weight: bold;
	}

	.card a.link-primary {
		background: var(--bg-dark);
		color: var(--bg-white);
		transition: background 300ms ease-in;
	}

	.card a.link-primary:hover,
	.card a.link-primary:focus {
		background: var(--bg-white);
		border: 1px solid var(--bg-dark);
		color: var(--bg-dark);
	}

	.card h2 {
		margin: 0;
		font-size: var(--font-size-md);
		line-height: 1.4em;
	}

	.card p {
		margin: 1em 0;
		min-height: 7em;
		font-size: var(--font-size-base);
		color: var(--bg-secondary);
		font-weight: 500;
	}

	.card div.links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 2.5em;
	}
</style>